<launch>
    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py" respawn="true">
    <param name="port"              type="string"               value="/dev/ttyACM2"/>
    <param name="baud"              type="int"                  value="115200"/>
    </node>
</launch>
